<h2>Top 10 available books</h2>
<div>
    <div style="overflow:auto">
        <input type="text" name="title" style="float:left;width:250px" placeholder="Book Title" ng-model="searchBookCtrl.searchBookParamVM.Title" ng-maxlength="20">
        <input type="text" name="author" style="float:left;;width:250px" placeholder="Book Author" ng-model="searchBookCtrl.searchBookParamVM.Author" ng-maxlength="20">
        <input type="button" name="btnSearch" style="float:left;width:100px"  value="Search" ng-click="searchBookCtrl.GetBooks()">
        <br/>
        <div ng-hide="searchBookCtrl.ProcessInfo.Message == '' || searchBookCtrl.ProcessInfo.IsSucceed" ng-class="(searchBookCtrl.ProcessInfo.IsSucceed) ? 'alert alert-success' : 'alert alert-danger'">
            {{searchBookCtrl.ProcessInfo.Message}}
        </div>
    </div>
</div>
<br />

<hr />
<div>
    <div style="overflow:auto" ng-if="searchBookCtrl.booksList.length >0">
        <div style="float:left;overflow:auto;border:solid;border-width:thin;margin:2px;width:98%" ng-repeat="book in searchBookCtrl.booksList">
            <div ng-hide="(!searchBookCtrl.authenticationVM.IsAuth) || book.isRequested" style="float:left;text-align:right;width:100%">
                <input type="button" name="btnRequestBook" style="width:150px" value="Demand Book" ng-click="searchBookCtrl.DemandBook(book.id)">
            </div>

            <div style="text-align:center;padding-left:2px;padding-bottom:3px"><b>{{book.title}}</b></div>
                <div style="overflow:auto">
                    <div style="float:left;text-align:left; width:40%;height:auto;"><img style="width:193px;height:190px;" ng-src="{{searchBookCtrl.bookImagePath}}/{{book.BookPhoto}}" /></div>
                    <div style="float:left;text-align:left;">
                        <div style="text-align:left;padding-right:2px;padding-top:3px"><b>Publisher : {{book.publisher}}</b></div>
                        <div style="text-align:left;padding-right:2px;padding-top:3px"><b>Author(s) : {{book.authors}}</b></div>
                    </div>
                 </div>
            <div style="text-align:left;padding-right:2px;padding-top:3px"><b>{{book.description}}</b></div>
         </div>
    </div>
    <div style="overflow:auto;text-align:center" ng-if="searchBookCtrl.booksList.length  == 0">
        {{searchBookCtrl.ProcessInfo.Message}}
    </div>
</div>
